{% extends "::base.html.twig" %}

{% block title %}AcaShopBundle:Home:index{% endblock %}
{% block nav %}
    {% if loggedIn == 0 %}

    {% else %}
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
        /
        {#<!-- Here is where you left, trying to make a drop down for the account settings and the logout function"-->#}
        {#<li role="navigation">#}
            {#<div class="btn-group">#}
                {#<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                    {#<span class="glyphicon glyphicon-user" aria-hidden="true"></span>#}
                    {#<span class="caret"></span>#}
                {#</button>#}
                {#<ul class="dropdown-menu">#}
                    {#<li><a href="#">Action1</a></li>#}
                    {#<li><a href="#">Another action2</a></li>#}
                    {#<li><a href="#">Something else here3</a></li>#}

                {#</ul>#}
            {#</div>#}
        {#</li>#}

    {% endif %}

{% endblock %}

{% block body %}
    {% if loggedIn == 0 %}

        {%  if errorMessage is not empty %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <b> {{ errorMessage }} </b>
        </div>
        {% endif %}
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="container-fluid" style="margin-bottom:15px">
            <div class="row">
                <div class="col-md-offset-8" style="margin-left: 960px">
                    <form name="loginForm" action="/login_user" method="post">
                        <h4>Sign In</h4>
                        <input type="text" name="username" placeholder="Username"/>
                        <input type="password" name="password" placeholder="Password"/>
                        <input type="submit" style="padding: 5px; font-size: 14px; align-items: flex-end" class="btn btn-default" value="Log In"/>
                        <br/>
                    </form>
                </div>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h1>Shoppard</h1>
                <p>Welcome to the fastest e-Commerce site on the planet.</p>
                <p>In this site you can see how the following different languages and frameworks are used together to create something amazing; PHP(OOP), MySQL, Bootstrap, CSS, HTML and Symfony.</p>
                <p>Enjoy and please sign-up if you are interested in contacting me.</p>
                <p><a class="btn btn-primary btn-lg" href="/sign_up" role="button">Sign up! &raquo;</a></p>

            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Back-end Languages</h2>
                    <p>Object Oriented Programming in PHP was used in the creation of this e-Commerce site in order to enable the full functionality of displaying, calling the database, adding to cart, signing up new customers and setting up email functionalities. MySQL was used as the main database, where different tables were correlated to find all the information.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Front-end Languages</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Frameworks</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; Company 2014</p>
            </footer>
        </div> <!-- /container -->



    {% else %}
        Welcome, {{ name }}!
        <br/>
        <form name="logoutform" action="/logout" method="post">
            <button  type="submit" class="btn btn-danger">Logout</button>
        </form>
        {#<a href='/logout'>Log-out</a>#}
    {% endif %}

{% endblock %}


